################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Src/Nate/Download files/
/Src/Nate/Db/
/Src/Nate/Database/
/.vs
/Client/.vs/Build_2010/v16
/Client/3rdparty/lpng163
/Client/3rdparty/OpenAES
/Client/3rdparty/tinyxml_2_6_2
/Client/3rdparty/zlib-1.2.8/contrib/vstudio
/Client/3rdparty/zlib-1.2.8/contrib/dotzlib
/Client/Common/Release
/Client/DedicatedServer
/Client/Ecc
/Client/Engine/lua
/Client/FontGen
/Client/F_Socket
/Client/Lib
/Client/LWSkaExporter
/Client/MakeFONT
/Client/Nksp/_USALIVE2010
/Client/Modeler
/Client/Nksp/Nksp_Kalydo_2010.vcxproj.filters
/Client/Nksp/Nksp_Kalydo_2010.vcxproj
/Client/SeriousSkaStudio
/Client/Shaders/_USALIVE2010
/Client/PersistentSymbolTool
/Client/SharedMemory
/Client/ToolSrc
/Client/UITool
/Client/Visual Leak Detector/src
/Client/WorldEditor
/Client/UITool.sln
/Client/SkaTool_2010.sln
/Client/SkaEditor_2010.sln
/Client/All_2010.sln
/Server/.vs/Server/v16
/Client/EngineGUI/EngineGUI_2010.vcxproj.filters
/Client/EngineGUI/EngineGUI_2010.vcxproj
/Client/Engine/Engine.aps
/Server/Connector/Connector___Win32_HOLYLANCE_USA/Connector.Build.CppClean.log
/Client/Engine/_USALIVE2010
/Client/3rdparty/zlib-1.2.8/out/build/x64-Debug
/Server/Connector/Connector___Win32_HOLYLANCE_USA
/Server/Connector/HOLYLANCE_USA
*.user
*.log
*.txt
*.aps
*.unsuccessfulbuild
*.tlog
*.sbr
*.obj
*.pdb
*.lastbuildstate
*.bak
*.cache
*.idb
*.res
/Client/execute
*.pch
*.manifest
*.exe
*.rc
*.bsc
*.ilk
*.bak
*.vsidx
*.lock
*.ipch
*.db
*.bin
*.suo
*.opendb
*.db-wal
*.db-shm
*.lib
/Client/EntitiesMP/WorldSettingsController_tables.h
/Client/EntitiesMP/WorldSettingsController.h
/Client/EntitiesMP/WorldSettingsController.cpp
/Client/EntitiesMP/WorldLink_tables.h
/Client/EntitiesMP/WorldLink.h
/Client/EntitiesMP/WorldLink.cpp
/Client/EntitiesMP/WorldBase_tables.h
/Client/EntitiesMP/WorldBase.h
/Client/EntitiesMP/WorldBase.cpp
/Client/EntitiesMP/WildPet_tables.h
/Client/EntitiesMP/WildPetBase_tables.h
/Client/EntitiesMP/WildPetBase.h
/Client/EntitiesMP/WildPetBase.cpp
/Client/EntitiesMP/WildPet.h
/Client/EntitiesMP/WildPet.cpp
/Client/EntitiesMP/WaterHolder_tables.h
/Client/EntitiesMP/WaterHolderMarker_tables.h
/Client/EntitiesMP/WaterHolderMarker.h
/Client/EntitiesMP/WaterHolderMarker.cpp
/Client/EntitiesMP/WaterHolder.h
/Client/EntitiesMP/WaterHolder.cpp
/Client/EntitiesMP/WatchPlayers_tables.h
/Client/EntitiesMP/WatchPlayers.h
/Client/EntitiesMP/WatchPlayers.cpp
/Client/EntitiesMP/Watcher_tables.h
/Client/EntitiesMP/Watcher.h
/Client/EntitiesMP/Watcher.cpp
/Client/EntitiesMP/VoiceHolder_tables.h
/Client/EntitiesMP/VoiceHolder.h
/Client/EntitiesMP/VoiceHolder.cpp
/Client/EntitiesMP/Unit_tables.h
/Client/EntitiesMP/Unit.h
/Client/EntitiesMP/Unit.cpp
/Client/EntitiesMP/Trigger_tables.h
/Client/EntitiesMP/Trigger.h
/Client/EntitiesMP/Trigger.cpp
/Client/EntitiesMP/TouchField_tables.h
/Client/EntitiesMP/TouchField.h
/Client/EntitiesMP/TouchField.cpp
/Client/EntitiesMP/TimeController_tables.h
/Client/EntitiesMP/TimeController.h
/Client/EntitiesMP/TimeController.cpp
/Client/EntitiesMP/TextFXHolder_tables.h
/Client/EntitiesMP/TextFXHolder.h
/Client/EntitiesMP/TextFXHolder.cpp
/Client/EntitiesMP/Terrain_tables.h
/Client/EntitiesMP/Terrain.h
/Client/EntitiesMP/Terrain.cpp
/Client/EntitiesMP/Teleport_tables.h
/Client/EntitiesMP/Teleport.h
/Client/EntitiesMP/Teleport.cpp
/Client/EntitiesMP/TacticsHolder_tables.h
/Client/EntitiesMP/TacticsHolder.h
/Client/EntitiesMP/TacticsHolder.cpp
/Client/EntitiesMP/TacticsChanger_tables.h
/Client/EntitiesMP/TacticsChanger.h
/Client/EntitiesMP/TacticsChanger.cpp
/Client/EntitiesMP/Switch_tables.h
/Client/EntitiesMP/Switch.h
/Client/EntitiesMP/Switch.cpp
/Client/EntitiesMP/SunMoon_tables.h
/Client/EntitiesMP/SunMoon.h
/Client/EntitiesMP/SunMoon.cpp
/Client/EntitiesMP/StormController_tables.h
/Client/EntitiesMP/StormController.h
/Client/EntitiesMP/StormController.cpp
/Client/EntitiesMP/SoundHolder_tables.h
/Client/EntitiesMP/SoundHolder.h
/Client/EntitiesMP/SoundHolder.cpp
/Client/EntitiesMP/Slave_tables.h
/Client/EntitiesMP/SlaveBase_tables.h
/Client/EntitiesMP/SlaveBase.h
/Client/EntitiesMP/SlaveBase.cpp
/Client/EntitiesMP/Slave.h
/Client/EntitiesMP/Slave.cpp
/Client/EntitiesMP/RollingStone_tables.h
/Client/EntitiesMP/RollingStone.h
/Client/EntitiesMP/RollingStone.cpp
/Client/EntitiesMP/RestrictedField_tables.h
/Client/EntitiesMP/RestrictedField.h
/Client/EntitiesMP/RestrictedField.cpp
/Client/EntitiesMP/Reminder_tables.h
/Client/EntitiesMP/Reminder.h
/Client/EntitiesMP/Reminder.cpp
/Client/EntitiesMP/Projectile_tables.h
/Client/EntitiesMP/Projectile.h
/Client/EntitiesMP/Projectile.cpp
/Client/EntitiesMP/PointMarker_tables.h
/Client/EntitiesMP/PointMarker.h
/Client/EntitiesMP/PointMarker.cpp
/Client/EntitiesMP/Player_tables.h
/Client/EntitiesMP/PlayerWeapons_tables.h
/Client/EntitiesMP/PlayerWeaponsEffects_tables.h
/Client/EntitiesMP/PlayerWeaponsEffects.h
/Client/EntitiesMP/PlayerWeaponsEffects.cpp
/Client/EntitiesMP/PlayerWeapons.h
/Client/EntitiesMP/PlayerWeapons.cpp
/Client/EntitiesMP/PlayerView_tables.h
/Client/EntitiesMP/PlayerView.h
/Client/EntitiesMP/PlayerView.cpp
/Client/EntitiesMP/PlayerMarker_tables.h
/Client/EntitiesMP/PlayerMarker.h
/Client/EntitiesMP/PlayerMarker.cpp
/Client/EntitiesMP/PlayerAnimator_tables.h
/Client/EntitiesMP/PlayerAnimator.h
/Client/EntitiesMP/PlayerAnimator.cpp
/Client/EntitiesMP/PlayerActionMarker_tables.h
/Client/EntitiesMP/PlayerActionMarker.h
/Client/EntitiesMP/PlayerActionMarker.cpp
/Client/EntitiesMP/Player.h
/Client/EntitiesMP/Player.cpp
/Client/EntitiesMP/Pet_tables.h
/Client/EntitiesMP/PetBase_tables.h
/Client/EntitiesMP/PetBase.h
/Client/EntitiesMP/PetBase.cpp
/Client/EntitiesMP/Pet.h
/Client/EntitiesMP/Pet.cpp
/Client/EntitiesMP/Pendulum_tables.h
/Client/EntitiesMP/Pendulum.h
/Client/EntitiesMP/Pendulum.cpp
/Client/EntitiesMP/ParticlesHolder_tables.h
/Client/EntitiesMP/ParticlesHolder.h
/Client/EntitiesMP/ParticlesHolder.cpp
/Client/EntitiesMP/ParticleCloudsMarker_tables.h
/Client/EntitiesMP/ParticleCloudsMarker.h
/Client/EntitiesMP/ParticleCloudsMarker.cpp
/Client/EntitiesMP/ParticleCloudsHolder_tables.h
/Client/EntitiesMP/ParticleCloudsHolder.h
/Client/EntitiesMP/ParticleCloudsHolder.cpp
/Client/EntitiesMP/NavigationMarker_tables.h
/Client/EntitiesMP/NavigationMarker.h
/Client/EntitiesMP/NavigationMarker.cpp
/Client/EntitiesMP/MusicHolder_tables.h
/Client/EntitiesMP/MusicHolder.h
/Client/EntitiesMP/MusicHolder.cpp
/Client/EntitiesMP/MusicChanger_tables.h
/Client/EntitiesMP/MusicChanger.h
/Client/EntitiesMP/MusicChanger.cpp
/Client/EntitiesMP/MovingBrush_tables.h
/Client/EntitiesMP/MovingBrushMarker_tables.h
/Client/EntitiesMP/MovingBrushMarker.h
/Client/EntitiesMP/MovingBrushMarker.cpp
/Client/EntitiesMP/MovingBrush.h
/Client/EntitiesMP/MovingBrush.cpp
/Client/EntitiesMP/ModelHolder_tables.h
/Client/EntitiesMP/ModelHolder3_tables.h
/Client/EntitiesMP/ModelHolder3.h
/Client/EntitiesMP/ModelHolder3.cpp
/Client/EntitiesMP/ModelHolder2_tables.h
/Client/EntitiesMP/ModelHolder2.h
/Client/EntitiesMP/ModelHolder2.cpp
/Client/EntitiesMP/ModelHolder.h
/Client/EntitiesMP/ModelHolder.cpp
/Client/EntitiesMP/ModelDestruction_tables.h
/Client/EntitiesMP/ModelDestruction.h
/Client/EntitiesMP/ModelDestruction.cpp
/Client/EntitiesMP/Missile_tables.h
/Client/EntitiesMP/Missile.h
/Client/EntitiesMP/Missile.cpp
/Client/EntitiesMP/MirrorMarker_tables.h
/Client/EntitiesMP/MirrorMarker.h
/Client/EntitiesMP/MirrorMarker.cpp
/Client/EntitiesMP/MessageView_tables.h
/Client/EntitiesMP/MessageView.h
/Client/EntitiesMP/MessageView.cpp
/Client/EntitiesMP/MessageHolder_tables.h
/Client/EntitiesMP/MessageHolder.h
/Client/EntitiesMP/MessageHolder.cpp
/Client/EntitiesMP/Marker_tables.h
/Client/EntitiesMP/Marker.h
/Client/EntitiesMP/Marker.cpp
/Client/EntitiesMP/Light_tables.h
/Client/EntitiesMP/Lightning_tables.h
/Client/EntitiesMP/Lightning.h
/Client/EntitiesMP/Lightning.cpp
/Client/EntitiesMP/Light.h
/Client/EntitiesMP/Light.cpp
/Client/EntitiesMP/Item_tables.h
/Client/EntitiesMP/items_tables.h
/Client/EntitiesMP/items.h
/Client/EntitiesMP/items.cpp
/Client/EntitiesMP/itemObjects_tables.h
/Client/EntitiesMP/itemObjects.h
/Client/EntitiesMP/itemObjects.cpp
/Client/EntitiesMP/Item.h
/Client/EntitiesMP/Item.cpp
/Client/EntitiesMP/HudPicHolder_tables.h
/Client/EntitiesMP/HudPicHolder.h
/Client/EntitiesMP/HudPicHolder.cpp
/Client/EntitiesMP/HazeMarker_tables.h
/Client/EntitiesMP/HazeMarker.h
/Client/EntitiesMP/HazeMarker.cpp
/Client/EntitiesMP/GravityRouter_tables.h
/Client/EntitiesMP/GravityRouter.h
/Client/EntitiesMP/GravityRouter.cpp
/Client/EntitiesMP/GravityMarker_tables.h
/Client/EntitiesMP/GravityMarker.h
/Client/EntitiesMP/GravityMarker.cpp
/Client/EntitiesMP/GradientMarker_tables.h
/Client/EntitiesMP/GradientMarker.h
/Client/EntitiesMP/GradientMarker.cpp
/Client/EntitiesMP/Global_tables.h
/Client/EntitiesMP/Global.h
/Client/EntitiesMP/Global.cpp
/Client/EntitiesMP/FogMarker_tables.h
/Client/EntitiesMP/FogMarker.h
/Client/EntitiesMP/FogMarker.cpp
/Client/EntitiesMP/Flame_tables.h
/Client/EntitiesMP/Flame.h
/Client/EntitiesMP/Flame.cpp
/Client/EntitiesMP/FixedCameraField_tables.h
/Client/EntitiesMP/FixedCameraField.h
/Client/EntitiesMP/FixedCameraField.cpp
/Client/EntitiesMP/Eruptor_tables.h
/Client/EntitiesMP/Eruptor.h
/Client/EntitiesMP/Eruptor.cpp
/Client/EntitiesMP/EnvironmentParticlesHolder_tables.h
/Client/EntitiesMP/EnvironmentParticlesHolder.h
/Client/EntitiesMP/EnvironmentParticlesHolder.cpp
/Client/EntitiesMP/EnvironmentMarker_tables.h
/Client/EntitiesMP/EnvironmentMarker.h
/Client/EntitiesMP/EnvironmentMarker.cpp
/Client/EntitiesMP/EnvironmentBase_tables.h
/Client/EntitiesMP/EnvironmentBase.h
/Client/EntitiesMP/EnvironmentBase.cpp
/Client/EntitiesMP/Enemy_tables.h
/Client/EntitiesMP/EnemySpawner_tables.h
/Client/EntitiesMP/EnemySpawner.h
/Client/EntitiesMP/EnemySpawner.cpp
/Client/EntitiesMP/EnemyMarker_tables.h
/Client/EntitiesMP/EnemyMarker.h
/Client/EntitiesMP/EnemyMarker.cpp
/Client/EntitiesMP/EnemyBase_tables.h
/Client/EntitiesMP/EnemyBase.h
/Client/EntitiesMP/EnemyBase.cpp
/Client/EntitiesMP/Enemy.h
/Client/EntitiesMP/Enemy.cpp
/Client/EntitiesMP/Effector_tables.h
/Client/EntitiesMP/Effector.h
/Client/EntitiesMP/Effector.cpp
/Client/EntitiesMP/EffectMarker_tables.h
/Client/EntitiesMP/EffectMarker.h
/Client/EntitiesMP/EffectMarker.cpp
/Client/EntitiesMP/Dummy_tables.h
/Client/EntitiesMP/Dummy.h
/Client/EntitiesMP/Dummy.cpp
/Client/EntitiesMP/DoorController_tables.h
/Client/EntitiesMP/DoorController.h
/Client/EntitiesMP/DoorController.cpp
/Client/EntitiesMP/DestroyableArchitecture_tables.h
/Client/EntitiesMP/DestroyableArchitecture.h
/Client/EntitiesMP/DestroyableArchitecture.cpp
/Client/EntitiesMP/DebugEntityStatesDisplay_tables.h
/Client/EntitiesMP/DebugEntityStatesDisplay.h
/Client/EntitiesMP/DebugEntityStatesDisplay.cpp
/Client/EntitiesMP/Debris_tables.h
/Client/EntitiesMP/DebrisSka_tables.h
/Client/EntitiesMP/DebrisSka.h
/Client/EntitiesMP/DebrisSka.cpp
/Client/EntitiesMP/Debris.h
/Client/EntitiesMP/Debris.cpp
/Client/EntitiesMP/Damager_tables.h
/Client/EntitiesMP/Damager.h
/Client/EntitiesMP/Damager.cpp
/Client/EntitiesMP/Counter_tables.h
/Client/EntitiesMP/Counter.h
/Client/EntitiesMP/Counter.cpp
/Client/EntitiesMP/Copier_tables.h
/Client/EntitiesMP/Copier.h
/Client/EntitiesMP/Copier.cpp
/Client/EntitiesMP/ColorContoller_tables.h
/Client/EntitiesMP/ColorContoller.h
/Client/EntitiesMP/ColorContoller.cpp
/Client/EntitiesMP/Character_tables.h
/Client/EntitiesMP/CharacterBase_tables.h
/Client/EntitiesMP/CharacterBase.h
/Client/EntitiesMP/CharacterBase.cpp
/Client/EntitiesMP/Character.h
/Client/EntitiesMP/Character.cpp
/Client/EntitiesMP/Camera_tables.h
/Client/EntitiesMP/CameraMarker_tables.h
/Client/EntitiesMP/CameraMarker.h
/Client/EntitiesMP/CameraMarker.cpp
/Client/EntitiesMP/Camera.h
/Client/EntitiesMP/Camera.cpp
/Client/EntitiesMP/Bullet_tables.h
/Client/EntitiesMP/Bullet.h
/Client/EntitiesMP/Bullet.cpp
/Client/EntitiesMP/BloodSpray_tables.h
/Client/EntitiesMP/BloodSpray.h
/Client/EntitiesMP/BloodSpray.cpp
/Client/EntitiesMP/BlendController_tables.h
/Client/EntitiesMP/BlendController.h
/Client/EntitiesMP/BlendController.cpp
/Client/EntitiesMP/BasicEffects_tables.h
/Client/EntitiesMP/BasicEffects.h
/Client/EntitiesMP/BasicEffects.cpp
/Client/EntitiesMP/BackgroundViewer_tables.h
/Client/EntitiesMP/BackgroundViewer.h
/Client/EntitiesMP/BackgroundViewer.cpp
/Client/EntitiesMP/AreaMarker_tables.h
/Client/EntitiesMP/AreaMarker.h
/Client/EntitiesMP/AreaMarker.cpp
/Client/EntitiesMP/AnimationHub_tables.h
/Client/EntitiesMP/AnimationHub.h
/Client/EntitiesMP/AnimationHub.cpp
/Client/EntitiesMP/AnimationChanger_tables.h
/Client/EntitiesMP/AnimationChanger.h
/Client/EntitiesMP/AnimationChanger.cpp
/Libraries
/Build